.list {
  margin: 3rem 0;
  list-style-type: none;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
    position: relative;
  }

  &__item::before {
    content: '';
    display: inline-block;
    @include iconSize(1rem);
    margin-right: .7rem;
    vertical-align: middle;
    // background-image: url('../img/chevron-thin-right.svg');
    // background-size: cover;
    background-color: var(--color-primary);
    mask-image: url('../img/chevron-thin-right.svg');
    mask-size: cover;
  }
}